.backdrop {
  @apply fixed;
  @apply top-0;
  @apply bottom-0;
  @apply left-0;
  @apply right-0;
  @apply w-screen;
  @apply h-screen;
  @apply z-10;

  background-color: rgba(0, 0, 0, 0.05);

  @screen lg {
    @apply hidden;
  }
}

.navbar {
  @apply absolute;
  @apply flex;
  @apply flex-col;
  @apply h-screen;
  @apply max-h-screen;
  @apply flex-shrink-0;
  @apply flex-grow-0;
  @apply text-white;
  @apply overflow-x-hidden;
  @apply overflow-y-auto;
  @apply box-border;
  @apply z-20;
  @apply bg-black;

  width: 270px;
  box-shadow: 0 0 16px -3px rgba(0, 0, 0, 0.9);

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @screen lg {
    @apply relative;
    box-shadow: none;
  }

  &.closed {
    @apply hidden;

    @screen lg {
      @apply flex;
    }
  }
}

.nav-item {
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply text-lg;
  @apply text-white;
  @apply flex-shrink-0;
  @apply flex-grow-0;
  @apply p-4;
  @apply mx-4;
  @apply no-underline;
  @apply rounded-md;
  @apply whitespace-no-wrap;

  & img {
    @apply h-6;
    @apply w-6;
    @apply me-4;
  }

  & > .nav-item-text {
    @apply overflow-hidden;
    @apply truncate;
  }

  &:hover {
    background-color: rgba(250, 250, 250, 0.1);
  }

  &.active {
    .nav-item-text{
      color: var(--primary-color);
    }
  }

  & + .nav-item {
    @apply mt-2;
  }

  &.nav-back {
    @apply rounded-none;
    @apply border-b-2;
    @apply border-blue-600;
  }
}

@media (min-width: 1024px) {
  .bottom-menu-container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-item {
    padding: 0.5rem;
    flex-direction: column;
    margin: 0 7px 0 7px !important;
  }
}

.logo {
  margin: 0 !important;
}

.bottom-menu-container {
  z-index: 1500;
  width: 100%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @apply bg-black;
  width: 100%;
  overflow-y: scroll;
}