:host {
  // @apply flex;
  // @apply h-20;
  @apply overflow-hidden;
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply right-0;
  @apply box-border;
  @apply z-10;
  @apply bg-white;
  @apply shadow;
  left: 0; // mobile: full width

  @screen lg {
    left: 270px; // ← offset by sidebar width (adjust value to match your nav-bar width)

    background-color: #00000000;
    box-shadow: none;
  }
}