<ng-container *ngIf="ready; else loading">
  <form
    [formGroup]="questionsForm"
    class="form-v3 filledColor formBlock"
    (ngSubmit)="saveAndGoToNextForm()"
  >
    <div class="formGroup">
      <div class="grpInfo">
        <div class="title" i18n>Questions</div>
        <div class="textBox sm">
          <p i18n>This section requires you to answer specific questions for the program.</p>
        </div>
      </div>

      <div class="inputBox">
        <div *ngFor="let question of questions" class="input-field normal full">
          <label [for]="question.id">{{ question.question }}</label>
          <textarea
            pInputTextarea
            [formControlName]="question.id"
            [id]="question.id"
            [autoResize]="true"
            maxlength="1250"
            rows="3"
            class="materialize-textarea"
          ></textarea>
          <div class="helperText" i18n>(max 150 words)</div>
          <small appControlValidationError [controlName]="question.id" class="p-invalid"></small>
        </div>
      </div>
    </div>

    <div class="formGroup">
      <div class="inputBox">
        <div class="input-field normal full buttonWrap flex gap-4">
          <button
            type="button"
            class="more wAuto"
            routerLink="../references"
            [disabled]="isSubmitting"
            [ngClass]="{ colorGray: isSubmitting }"
          >
            <span i18n>Previous</span>
          </button>
          <button
            type="button"
            class="more wAuto green"
            (click)="save(true)"
            [disabled]="isSubmitting || !questionsForm.dirty"
            [ngClass]="{ colorGray: isSubmitting || !questionsForm.dirty }"
          >
            <span i18n>Save</span>
          </button>
          <button
            type="submit"
            class="more wAuto"
            [disabled]="isSubmitting || questionsForm.invalid"
            [ngClass]="{ colorGray: isSubmitting || questionsForm.invalid }"
          >
            <span i18n>Next</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>

<p-toast [preventOpenDuplicates]="true"></p-toast>
