<ng-container *ngIf="ready; else loading">
  <app-card sectionTitle="Memberships" sectionSubTitle="This section requires you to provide your memberships and affiliations with occupational or social societies locally or internationally."
  i18n-sectionTitle i18n-sectionSubTitle class="flex-grow">
    <div role="actions">
      <button *ngIf="!isDisabled" pButton icon="pi pi-plus" label="Add" i18n-label (click)="openMembershipDialog()"></button>
    </div>

    <div class="p-grid">
      <div [formGroup]="mainForm" class="p-field p-col-12 p-fluid">
        <label for="isActiveMember" i18n>Are you a member in any institution or board?</label>
        <p-dropdown (onChange)="selectOption($event)" formControlName="isActiveMember" placeholder="&nbsp;" inputId="isActiveMember" [options]="activeOptions">
        </p-dropdown>
        <small appControlValidationError controlName="isActiveMember" class="p-invalid"></small>
      </div>

      <div *ngIf="mainForm.get('isActiveMember').value && memberships.length === 0" class="p-col-12 py-8 text-center">
        <span class="text-sm text-gray-700" i18n>You haven't added any memberships yet.</span>
      </div>

      <div class="p-col-12" *ngFor="let membership of memberships; let index = index">
        <app-profile-section-info-card [highLight]="!membership.completed" (onEdit)="openMembershipDialogForEditing(membership)"
          (onDelete)="removeMembership( membership.id )">
          <div class="flex-grow">
            <div class="text-lg font-semibold pb-2">
              {{ membership | lang:'institutionName' }}
            </div>
            <div class="text-gray-600 pb-1">
              {{ membership | lang:'roleName' }}
            </div>
            <div class="text-gray-600 pb-1">
              <ng-container i18n>Joining Date</ng-container>: {{ membership.joinDate | date }}
            </div>
            <div class="text-gray-600 pb-1">
              <ng-container *ngIf="membership.active" i18n>Active</ng-container>
              <ng-container *ngIf="!membership.active" i18n>Not Active</ng-container>
            </div>
          </div>
        </app-profile-section-info-card>
      </div>

      
    </div>
  </app-card>
  <div class="p-col-12 flex justify-end mt-8">
    <button type="button" class="w-32" (click)="goToNextForm()" label="Next" pButton i18n-label></button>
  </div>
</ng-container>

<p-dialog header="Add Membership" i18n-header [(visible)]="showMembershipDialog" [modal]="true" [focusTrap]="true"
  [focusOnShow]="true" [draggable]="false" styleClass="w-full max-w-sm md:max-w-xl">
  <div class="text-sm mb-4" i18n>Are you a member in any institution or board?</div>
  <form [formGroup]="membershipForm" (ngSubmit)="editingMembership.id ? updateMembership() : addMembership()">
    <div class="p-grid p-formgrid p-fluid">
      <div class="p-field p-col-6">
        <label for="institutionName">Institution Name <span class="text-red-500">*</span></label>
        <input pInputText formControlName="institutionName" type="text" id="institutionName"
          placeholder="Enter Institution Name">
        <small appControlValidationError controlName="institutionName" class="p-invalid"></small>
      </div>
      <div class="p-field p-col-6" dir="rtl">
        <label for="institutionName_AR">اسم الجهه <span class="text-red-500">*</span></label>
        <input pInputText formControlName="institutionName_AR" type="text" id="institutionName_AR"
          placeholder="أدخل اسم الجهه">
        <small appControlValidationError controlName="institutionName_AR" class="p-invalid"></small>
      </div>
      <div class="p-field p-col-6">
        <label for="roleName">Role <span class="text-red-500">*</span></label>
        <input pInputText formControlName="roleName" type="text" id="roleName" placeholder="Enter Role">
        <small appControlValidationError controlName="roleName" class="p-invalid"></small>
      </div>
      <div class="p-field p-col-6" dir="rtl">
        <label for="roleName_AR">دورك فى الجهه <span class="text-red-500">*</span></label>
        <input pInputText formControlName="roleName_AR" type="text" id="roleName_AR" placeholder="أدخل دورك فى الجهه">
        <small appControlValidationError controlName="roleName_AR" class="p-invalid"></small>
      </div>
      <div class="p-field p-col-12 p-lg-6">
        <label for="joinDate" i18n *ngIf="locale === 'en'">Joining Date <span class="text-red-500">*</span></label>
        <label for="joinDate" i18n *ngIf="locale === 'ar'">تاريخ الانضمام <span class="text-red-500">*</span></label>
        <p-calendar appUseDateRange="pastDate" appUseUtc appPrimeNGi18n appendTo="body" formControlName="joinDate" inputId="joinDate"
          placeholder="Enter Joining Date" i18n-placeholder [monthNavigator]="true" [yearNavigator]="true"></p-calendar>
        <small appControlValidationError controlName="joinDate" class="p-invalid"></small>
      </div>
      <div class="p-field p-col-12 p-lg-6">
        <label for="active" i18n>Active <span class="text-red-500">*</span></label>
        <p-dropdown inputId="active" appendTo="body" placeholder="Select an option" i18n-placeholder
          [options]="activeOptions" formControlName="active">
        </p-dropdown>
      </div>

      <div class="p-field p-col-12 p-lg-6">
        <label for="membershipLevel" i18n>Membership level<span class="text-red-500">*</span></label>
        <p-dropdown appendTo="body" placeholder="Select the Level" i18n-placeholder [options]="membershipLevel"
          formControlName="membershipLevel" inputId="membershipLevel"></p-dropdown>
        <small appControlValidationError controlName="membershipLevel" class="p-invalid"></small>
      </div>

      <div class="mt-5 p-col-12 flex justify-end">
        <p-button [disabled]="membershipForm.invalid || isFormSubmitting" class="p-button-md" icon="pi pi-check"
          type="submit" label="Save" i18n-label></p-button>
      </div>
    </div>
  </form>
</p-dialog>

<p-confirmDialog
  appPrimeNGi18n
  header="Confirmation"
  i18n-header
  icon="pi pi-exclamation-triangle"
  styleClass="w-full max-w-sm"
>
</p-confirmDialog>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
