<ng-container *ngIf="ready; else loading">
  <ng-container *ngIf="!alreadyEnrolled; else alreadyEnrolledDialog">
    <app-main-container>
      <div class="gridWrap">
        <div class="generalCard">
          <div class="inner">
            <div class="cardTitleWrap">
              <div class="cardTitle" i18n>Programs</div>
              <div class="cardTools">
                <a (click)="shared.goBack()" class="backBtn" style="cursor: pointer;">
                  <span i18n>Back</span>
                  <div class="iconBox">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14L4 9L9 4" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M20 20V13C20 11.9391 19.5786 10.9217 18.8284 10.1716C18.0783 9.42143 17.0609 9 16 9H4" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <div class="gridWrap border">
              <div class="programProgressTab" data-ptab>
                <div class="c">
                  <ul>
                    <li *ngFor="let step of steps; let i = index">
                      <a [routerLink]="step.routerLink" class="pLink" routerLinkActive="active" [ngClass]="step.styleClass">
                        <span>{{ step.label }}</span>
                      </a>
                    </li>
                  </ul>

                  <div class="progress dote" data-color="blue"></div>
                </div>
              </div>
              <router-outlet (activate)="stepperChanged($event)"></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </app-main-container>
  </ng-container>
</ng-container>

<ng-template #alreadyEnrolledDialog>
  <p-dialog [visible]="true" [closable]="false" [draggable]="false" [resizable]="false" [responsive]="true">
    <h1 class="text-2xl" i18n>You are already enrolled in this program</h1>
    <ng-template pTemplate="footer">
      <button pButton label="Go Back" i18n-label routerLink=".."></button>
    </ng-template>
  </p-dialog>
</ng-template>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
