::ng-deep {
    .program-application-steps .p-steps-item .p-menuitem-link {
        background: transparent !important;
    }
    .program-application-steps .p-steps-item .p-steps-number {
        height: 3rem !important;
        min-width: 3rem !important;
        font-size: 1.5rem !important;
    }
    .program-application-steps .p-steps-item .p-steps-title {
        font-size: 1.25rem;
    }

    .p-steps .p-steps-item:before{
        border-top: 1px solid #444444;
    }
}