<div class="flex items-center justify-center md:hidden mt-10">
  <img src="assets/images/MBRCLD_Logo.jpg" alt="" class="w-40" />
</div>
<div class="flex flex-row md:h-screen">
  <div class="hidden lg:flex w-1/2" *ngIf="locale == 'en'">
    <img
      src="assets/images/mbrcld_logo.png"
      alt=""
      class="w-auto max-w-full h-full object-cover object-left-top"
    />
  </div>
  <div class="hidden lg:flex w-1/2" *ngIf="locale == 'ar'">
    <img
      src="assets/images/mbrcld_logo_ar.png"
      alt=""
      class="w-auto max-w-full h-full object-cover object-left-top"
    />
  </div>
  <div class="flex flex-grow justify-center items-center md:h-screen overflow-y-auto">
    <form
      [formGroup]="loginForm"
      class="block md:my-auto p-fluid p-8 w-full max-w-xl"
      (ngSubmit)="login()"
    >
      <h1 class="app-title" i18n>Login</h1>
      <div class="p-field">
        <label for="email" i18n>Email *</label>
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter email"
          i18n-placeholder
          class="h-12"
          [disabled]="disableForm"
        />
        <small appControlValidationError controlName="email" class="p-invalid"></small>
      </div>
      <div class="p-field">
        <label for="password" i18n>Password *</label>
        <input
          pPassword
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter password"
          i18n-placeholder
          class="h-12"
          [feedback]="false"
          [disabled]="disableForm"
        />
        <small appControlValidationError controlName="password" class="p-invalid"></small>
      </div>
      <div class="pt-4">
        <div class="p-field">
          <button
            pButton
            type="submit"
            label="Login"
            i18n-label
            [disabled]="disableForm"
            class="h-12"
          ></button>
        </div>
        <div class="p-field text-center">
          <span i18n>Or</span>
        </div>
        <div class="p-field uae-block">
          <button
            type="button"
            label="Sign in with UAE PASS"
            class="p-button p-button-secondary flex justify-center h-12 uae-login"
            [disabled]="disableForm"
            (click)="removeLocal()"
          >
            <img src="assets/images/ico-uae-pass.png" alt="" class="me-3 h-8 w-8" />
            <span class="text-gray-900 text-xl font-semibold" i18n>Sign in with UAE PASS</span>
          </button>
        </div>
        <div class="text-center" i18n>
          Don't have an account? <a routerLink="../register" class="text-blue-600">Sign up</a>
        </div>
        <div class="text-center" i18n>
          Forgot your password? <a routerLink="../password-reset" class="text-blue-600">Reset Password</a>
        </div>
      </div>
      <div class="pt-6 flex justify-center">
        <app-language-switcher></app-language-switcher>
      </div>
    </form>
    <p-toast></p-toast>
  </div>
</div>
