<div class="mainContainer">
  <div class="gridWrap">
    <div class="generalCard">
      <div class="inner">
        <div class="cardTitle">Programs</div>

        <ng-container *ngIf="ready; else loading">
          <!-- Tabs -->
          <div class="gridWrap border">
            <div class="circleTabWrap">
              <a href="#" class="cLink" [class.active]="activeTab === 'active'" (click)="setActiveTab('active'); $event.preventDefault()">
                <span i18n>Active Programs</span>
              </a>
              <a href="#" class="cLink" [class.active]="activeTab === 'previous'" (click)="setActiveTab('previous'); $event.preventDefault()">
                <span i18n>Previous Programs</span>
              </a>
            </div>

            <!-- Active Programs -->
            <ng-container *ngIf="activeTab === 'active'">
              <div class="programCard col1" *ngFor="let item of filterActivePrograms">
                <app-programs-active-programs [data]="item"></app-programs-active-programs>
              </div>
              <div *ngIf="filterActivePrograms.length === 0" class="no-programs-message">
                <p i18n>No programs found.</p>
              </div>
            </ng-container>

            <!-- Previous Programs -->
            <ng-container *ngIf="activeTab === 'previous'">
              <div class="programCard col1" *ngFor="let item of filterOtherPrograms">
                <app-programs-active-programs [data]="item"></app-programs-active-programs>
              </div>
              <div *ngIf="filterOtherPrograms.length === 0" class="no-programs-message">
                <p i18n>No programs found.</p>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-template #loading>
          <app-progress-spinner></app-progress-spinner>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- SIDE BOX stays STATIC (no TS dependency) -->
  <div class="sideBox">
    <div class="inlineCalenderSmallCard">
      <div class="inner">
        <div class="inlineCalenderSmall" id="inlineCalenderSmall"></div>

        <div class="articleList">
          <div class="articleSmallCard">
            <a href="#" class="inner">
              <div class="articleImg">
                <picture class="">
                  <source srcset="./assets/images/articleImg1.webp" type="image/webp" />
                  <source srcset="./assets/images/articleImg1.jpg" type="image/jpeg" />
                  <img
                    src="./assets/images/articleImg1.jpg"
                    alt=""
                    width="80"
                    height="57"
                    loading="lazy"
                  />
                </picture>
              </div>

              <div class="contentBox">
                <div class="date">27 June 2025</div>
                <div class="t">
                  Lorem ipsum dolor sit amet, consec tetur adipiscing elit...
                </div>
              </div>
            </a>
          </div>
          <div class="articleSmallCard">
            <a href="#" class="inner">
              <div class="articleImg">
                <picture class="">
                  <source srcset="./assets/images/articleImg2.webp" type="image/webp" />
                  <source srcset="./assets/images/articleImg2.jpg" type="image/jpeg" />
                  <img
                    src="./assets/images/articleImg2.jpg"
                    alt=""
                    width="80"
                    height="57"
                    loading="lazy"
                  />
                </picture>
              </div>

              <div class="contentBox">
                <div class="date">27 June 2025</div>
                <div class="t">
                  Lorem ipsum dolor sit amet, consec tetur adipiscing elit...
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="leadersHighlightCard">
      <div class="imgBox">
        <picture class="">
          <source srcset="./assets/images/leadersHighlightImg.jpg" type="image/jpeg" />
          <img
            src="assets/images/leadersHighlightImg.jpg"
            alt=""
            width="314"
            height="188"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="contentBox">
        <div class="title">Leaders Highlights</div>

        <div class="points">
          <div class="p">
            <div class="num" dir="ltr" data-animcount="700">
              <i class="not-italic">700</i><sup>+</sup>
            </div>
            <span>MBRCLD Alumni</span>
          </div>
          <div class="p">
            <div class="num" dir="ltr" data-animcount="40">
              <i class="not-italic">40</i><sup>+</sup>
            </div>
            <span>Sectors</span>
          </div>
          <div class="p">
            <div class="num" dir="ltr" data-animcount="1000">
              <i class="not-italic">1000</i><sup>+</sup>
            </div>
            <span>Transformational ideas and projects</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
