<div class="mainContainer">
  <div class="gridWrap">
    <div class="generalCard">
      <div class="inner">
        <div class="cardTitleWrap">
          <div class="cardTitle">Knowledge Hub</div>
          <div class="cardTools">
            <div class="searchBox">
              <form class="form-v3 filledColor">
                <div class="input-field">
                  <input type="text" placeholder="Search" />
                  <button class="iconBox">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M21 20.9999L16.65 16.6499" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="gridWrap border">
          <div class="circleTabWrap">
            <a href="javascript:void(0)" class="cLink" [class.active]="activeTab === 0" (click)="handleChangeTab({index: 0})">
              <span>Scholarships</span>
            </a>
            <a href="javascript:void(0)" class="cLink" [class.active]="activeTab === 1" (click)="handleChangeTab({index: 1})">
              <span>Scholarship Registration Status</span>
            </a>
          </div>

          <!-- Scholarships Tab -->
          <ng-container *ngIf="activeTab === 0">
            <ng-container *ngIf="scholarshipsListReady; else loading">
              <ng-container *ngIf="scholarships && scholarships.length > 0; else noScholarships">
                <div class="eventCard col2" *ngFor="let item of scholarships">
                  <a [routerLink]="item.id" class="inner">
                    <div class="imgBox">
                      <picture>
                        <!-- Assuming item.pictureUrl is valid for src. -->
                        <img [src]="item.pictureUrl" [alt]="item.name" width="442" height="242" loading="lazy" />
                      </picture>
                    </div>
                    <div class="contentBox">
                      <div class="dateBox">{{ item.fromDate | date: 'dd MMMM yyyy' }}</div>
                      <div class="title">
                        {{ item.name }}
                      </div>
                    </div>
                  </a>
                </div>
              </ng-container>

              <ng-template #noScholarships>
                <div class="flex justify-center w-full" style="grid-column: 1 / -1;">
                  <div class="grid gap-6 w-14 textContainer">
                    <h1 class="text-3xl text-center text" i18n *ngIf="locale == 'en'">
                      Coming Soon
                    </h1>
                    <h1 class="text-3xl text-center text" i18n *ngIf="locale == 'ar'">
                      قريبا
                    </h1>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>

          <!-- Scholarship Registration Status Tab -->
          <ng-container *ngIf="activeTab === 1">
            <div *ngIf="scholarshipRegistrationListReady; else loading" class="contents" style="grid-column: 1 / -1;">
              <div class="grid gap-4 w-full">
                 <app-leadership-projects
                    *ngFor="let item of scholarshipsRegistrations"
                    [id]="item.scholarshipId"
                    [caption]="item.name"
                    [status]="item.statusCode"
                    [endDate]=""
                    [disableRouterLink]="true"
                    [withoutDueCaption]="true"
                  >
                  </app-leadership-projects>
              </div>
            </div>
          </ng-container>

          <ng-template #loading>
             <div style="grid-column: 1 / -1; display:flex; justify-content:center;">
                <app-progress-spinner></app-progress-spinner>
             </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>

  <app-side-box></app-side-box>
</div>
