<ng-container *ngIf="ready; else loading">
    <form
      [formGroup]="generalInformationForm"
      class="p-fluid p-formgrid p-grid profile-form p-5"
      (ngSubmit)="onSubmit()"
    >
    <app-card
    sectionTitle="General Information"
    sectionSubTitle="This section requires you to provide general information about yourself."
    i18n-sectionTitle
    i18n-sectionSubTitle
    class="flex-grow flex-shrink "
  >
  
     <div class="p-grid">
      <div class="p-col-6 p-xl-6">
        <div class="p-field">
          <label for="firstName">First Name <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="firstName"
            type="text"
            id="firstName"
            placeholder="Enter first name"
          />
          <small appControlValidationError controlName="firstName" class="p-invalid"></small>
        </div>
        <div class="p-field">
          <label for="middleName">Middle Name <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="middleName"
            type="text"
            id="middleName"
            placeholder="Enter middle name"
          />
          <small appControlValidationError controlName="middleName" class="p-invalid"></small>
        </div>
        <div class="p-field">
          <label for="lastName">Last Name <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="lastName"
            type="text"
            id="lastName"
            placeholder="Enter last name"
          />
          <small appControlValidationError controlName="lastName" class="p-invalid"></small>
        </div>
      </div>

      <div class="p-col-6 p-xl-6" dir="rtl">
        <div class="p-field">
          <label for="firstName_AR">الاسم الأول <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="firstName_AR"
            type="text"
            id="firstName_AR"
            placeholder="أدخل الاسم الأول"
          />
          <small appControlValidationError controlName="firstName_AR" class="p-invalid"></small>
        </div>
        <div class="p-field">
          <label for="middleName_AR">الاسم الأوسط <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="middleName_AR"
            type="text"
            id="middleName_AR"
            placeholder="أدخل الاسم الأوسط"
          />
          <small appControlValidationError controlName="middleName_AR" class="p-invalid"></small>
        </div>
        <div class="p-field">
          <label for="lastName_AR">اسم العائلة <span class="text-red-500">*</span></label>
          <input
            pInputText
            formControlName="lastName_AR"
            type="text"
            id="lastName_AR"
            placeholder="أدخل اسم العائلة"
          />
          <small appControlValidationError controlName="lastName_AR" class="p-invalid"></small>
        </div>
      </div>

      <div class="p-field p-col-12">
        <label for="gender" i18n>Gender <span class="text-red-500">*</span></label>
        <p-dropdown
          formControlName="gender"
          placeholder="Enter gender"
          i18n-placeholder
          [options]="genderOptions"
        ></p-dropdown>
        <small appControlValidationError controlName="gender" class="p-invalid"></small>
      </div>

      <div class="p-field p-col-12">
        <label for="gender" i18n>Marital Status</label>
        <p-dropdown
          formControlName="maritalStatus"
          placeholder="Select Marital Status"
          i18n-placeholder
          [options]="maritalStatusOptions"
        ></p-dropdown>
        <small appControlValidationError controlName="maritalStatus" class="p-invalid"></small>
      </div>

      <div class="p-field p-col-12">
        <label for="birthdate" i18n>Date of Birth <span class="text-red-500">*</span></label>
        <p-calendar
          appUseDateRange="dateOfBirth"
          appUseUtc
          appPrimeNGi18n
          formControlName="birthdate"
          inputId="birthdate"
          placeholder="Enter date of birth"
          i18n-placeholder
          [monthNavigator]="true"
          [yearNavigator]="true"
          appendTo="body"
        >
        </p-calendar>
        <small appControlValidationError controlName="birthdate" class="p-invalid"></small>
      </div>

      <div class="p-field p-col-12">
        <label for="nationality" i18n>Nationality <span class="text-red-500">*</span></label>
        <app-nationality-dropdown
          controlName="nationality"
          inputId="nationality"
        ></app-nationality-dropdown>
        <small appControlValidationError controlName="nationality" class="p-invalid"></small>
      </div>
      
     </div>
    
  </app-card>
  <div class="p-field p-col-12 mt-6 flex justify-end">
    <div class="w-32">
      <button
        [disabled]="generalInformationForm.invalid || isFormSubmitting"
        pButton
        type="submit"
        label="Next"
        i18n-label
      ></button>
    </div>
  </div>
</form>
</ng-container>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>

<p-dialog
  header="Profile Avatar"
  i18n-header
  [(visible)]="profilePicRequiredPopup"
  styleClass="w-full max-w-sm"
  [baseZIndex]="10000"
>
  <p i18n>Profile photo is required.</p>
  <ng-template pTemplate="footer">
    <p-button (click)="profilePicRequiredPopup = false" i18n-label label="Ok"></p-button>
  </ng-template>
</p-dialog>
