::ng-deep {
  .profile-progress .p-progressbar {
    border-radius: 1rem !important;
  }

  .profile-progress .p-progressbar-label {
    text-align: start !important;
    color: #fff !important;
    text-shadow: 1px 1px 2px #444;
    padding-inline-start: 1.5rem !important;
    font-weight: normal !important;
  }

  .profile-progress .p-progressbar-value {
    background: #3ea447 !important;
  }

  .p-slidemenu-content {
    height: 210px !important;
  }

  .custom-icon {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-image: url('../../../../../assets/images/user-manual.svg');
  }
}

.padder{
  padding: 1rem 1rem 1rem 2rem;
}
