<!-- <main>
  
  <div class="pb-4">
  <div class="p-grid">
    <div class="p-col-12 fullMobile" style="width:70%">
      <div *ngIf="ready; else loading" class="grid gap-6">
        <app-posts-card
          *ngFor="let card of postsData"
          [id]="card.id"
          [name]="card.name"
          [liked]="card.liked"
          [date]="postsDates[card.id]"
          [writtenByName]="card.writtenByName"
          [description]="card.description"
          [imgUrl]="card.pictureUrl"
          [profileImage]="card.profilePictureUrl"
          [likes]="card.likes"
          [isMyArticles]="false"
          [type]="card.type"
          [postType]="card.postType"
          [videoUrl]="card.videoUrl"
        ></app-posts-card>
      </div>
    </div>
    <div class="p-col-12 pt-6 hideMobile" style="width:30%">
      <app-slide-panel ></app-slide-panel>
    </div>
  </div>

  <ng-template #loading>
    <app-progress-spinner></app-progress-spinner>
  </ng-template>
</div>
</main> -->

<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<div class="mainContainer">
  <div *ngIf="ready; else loading" class="gridWrap">
    <div class="alert alertDanger" *ngIf="showAlert">
      <div class="textBox smLineHeight">
        {{ alertMessage }}
      </div>
      <button type="button" class="closeBtn" data-alertclose (click)="closeAlert()">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="infoCard col1">
      <a href="#" class="inner">
        <div class="topBox">
          <div class="num" data-animcount="9">
            <i class="not-italic">9</i>
          </div>
          <div class="iconBox">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.75 5H6.25C4.86929 5 3.75 6.11929 3.75 7.5V25C3.75 26.3807 4.86929 27.5 6.25 27.5H23.75C25.1307 27.5 26.25 26.3807 26.25 25V7.5C26.25 6.11929 25.1307 5 23.75 5Z"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M20 2.5V7.5"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 2.5V7.5"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.75 12.5H26.25"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="bottomBox">
          <div class="t">Total Events</div>
          <div class="arrowBox">
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L8 8L1 15"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="infoCard col1 colorBlack">
      <a href="#" class="inner">
        <div class="topBox">
          <div class="num" data-animcount="24">
            <i class="not-italic">24</i>
          </div>
          <div class="iconBox">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.3332 2.33334H6.99984C6.381 2.33334 5.78751 2.57918 5.34992 3.01676C4.91234 3.45435 4.6665 4.04784 4.6665 4.66668V23.3333C4.6665 23.9522 4.91234 24.5457 5.34992 24.9833C5.78751 25.4208 6.381 25.6667 6.99984 25.6667H20.9998C21.6187 25.6667 22.2122 25.4208 22.6498 24.9833C23.0873 24.5457 23.3332 23.9522 23.3332 23.3333V9.33334L16.3332 2.33334Z"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.3335 2.33334V9.33334H23.3335"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.6668 15.1667H9.3335"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.6668 19.8333H9.3335"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.6668 10.5H10.5002H9.3335"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="bottomBox">
          <div class="t">Total Articles</div>
          <div class="arrowBox">
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L8 8L1 15"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="infoCard col1">
      <a href="#" class="inner">
        <div class="topBox">
          <div class="num" data-animcount="2">
            <i class="not-italic">2</i>
          </div>
          <div class="iconBox">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 19.8333H4.66683C4.04799 19.8333 3.4545 19.5875 3.01691 19.1499C2.57933 18.7123 2.3335 18.1188 2.3335 17.5V5.83333C2.3335 5.21449 2.57933 4.621 3.01691 4.18342C3.4545 3.74583 4.04799 3.5 4.66683 3.5H23.3335C23.9523 3.5 24.5458 3.74583 24.9834 4.18342C25.421 4.621 25.6668 5.21449 25.6668 5.83333V17.5C25.6668 18.1188 25.421 18.7123 24.9834 19.1499C24.5458 19.5875 23.9523 19.8333 23.3335 19.8333H22.1668"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.9998 17.5L19.8332 24.5H8.1665L13.9998 17.5Z"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="bottomBox">
          <div class="t">Total Programs</div>
          <div class="arrowBox">
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L8 8L1 15"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="articleCard" *ngFor="let card of postsData">
      <div class="inner">
        <div class="topBox">
          <div class="imgBox">
            <picture class="">
              <!-- <source
                        srcset="./assets/images/avImg.jpg"
                        type="image/jpeg"
                        assets/images/program/Program_Home_page.jpg
                      /> -->
              <img
                [src]="card.profilePictureUrl || 'assets/images/program/Program_Home_page.jpg'"
                alt=""
                width="100"
                height="100"
                loading="lazy"
              />
            </picture>
          </div>

          <a [routerLink]="['item', card.id]" [queryParams]="{ type: 2 }" class="c">
            <div class="t">{{ card.name }}</div>
            <div class="s">{{ card.writtenByName }} · {{ postsDates[card.id] }}</div>
          </a>
        </div>

        <div class="textBox sm smLineHeight" style="--lineClamp: 2;">
          <p>{{ card.description }}</p>
        </div>
        <!-- VIDEO POST -->
        <div class="articleImg" *ngIf="card.videoUrl; else imageBlock">
          <app-video-content [name]="card.name" [videoUrl]="card.videoUrl"></app-video-content>
        </div>

        <!-- IMAGE POST -->
        <ng-template #imageBlock>
          <a [routerLink]="['item', card.id]" [queryParams]="{ type: 2 }" class="articleImg">
            <img [src]="card.pictureUrl" alt="" width="442" height="276" loading="lazy" />
          </a>
        </ng-template>

        <div class="articleTools">
          <app-social-panel
            [id]="card.id"
            [liked]="card.liked"
            [likesCount]="card.likes"
            [commentsCount]="card.commentsCount"
            [sharesCount]="card.sharesCount"
            [type]="2"
          ></app-social-panel>
        </div>
      </div>
    </div>
  </div>

  <app-side-box></app-side-box>
</div>
