<!-- <div *ngIf="ready" class="grid gap-6  border rounded-lg border-gray-400  bg-white p-4">
  <div>
    <div class="inline-flex items-center cursor-pointer contents" (click)="goBack()">
      <img src="assets/images/ico-arrow-left.svg" class="w-6 h-6" alt="" />
      <p class="text-lg ml-2 text-gray-700" i18n>
        Go Back
      </p>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="grid grid-cols-4 gap-8 items-end">
      <div class="profile-info col-span-3">
        <h1 class="text-2xl">{{ articleData.name }}</h1>
        <p class="text-gray-500">{{ articleData.date | date:'longDate' }}</p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-gray-500 text-lg ql-editor" [innerHtml]="articleData.description"></p>
  </div>
  <div>
    <img class="article-image w-full object-cover" [src]="articleData.pictureUrl" alt="" />
    <div
      *ngIf="articleData.theArticle"
      class="articleContent ql-editor"
      [innerHTML]="articleData.theArticle"
    ></div>
  </div>
</div>
<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template> -->

<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<div class="mainContainer">
  <div class="gridWrap">
    <ng-container *ngIf="ready; else loading">
      <div class="generalCard">
        <div class="inner">
          <div class="cardTitleWrap">
            <div class="cardTitle">
              {{ articleData.name }}
            </div>
            <div class="cardTools">
              <a class="backBtn" (click)="goBack()">
                <span>Back</span>
                <div class="iconBox">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9 14L4 9L9 4"
                      stroke="currentcolor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M20 20V13C20 11.9391 19.5786 10.9217 18.8284 10.1716C18.0783 9.42143 17.0609 9 16 9H4"
                      stroke="currentcolor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="gridWrap border">
            <div class="eventDetailsWrap">
              <div class="side">
                <div class="imgBox">
                  <picture class="">
                    <source srcset="{{ articleData.pictureUrl }}" type="image/webp" />
                    <source srcset="{{ articleData.pictureUrl }}" type="image/jpeg" />
                    <img
                      src="{{ articleData.pictureUrl }}"
                      alt=""
                      width="442"
                      height="242"
                      loading="lazy"
                    />
                  </picture>
                </div>

                <div class="metaWrap">
                  <div class="meta">
                    <div class="iconBox">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M16 2V6"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8 2V6"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M3 10H21"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <span>{{ articleData.date | date: 'longDate' }}</span>
                  </div>
                  <div class="meta">
                    <div class="iconBox">
                      <svg
                        width="23"
                        height="21"
                        viewBox="0 0 23 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.2913 2.61183C19.7805 2.10083 19.1741 1.69547 18.5066 1.41891C17.8392 1.14235 17.1238 1 16.4013 1C15.6788 1 14.9634 1.14235 14.2959 1.41891C13.6285 1.69547 13.022 2.10083 12.5113 2.61183L11.4513 3.67183L10.3913 2.61183C9.3596 1.58013 7.96032 1.00053 6.50129 1.00053C5.04226 1.00053 3.64298 1.58013 2.61129 2.61183C1.5796 3.64352 1 5.04279 1 6.50183C1 7.96086 1.5796 9.36013 2.61129 10.3918L3.67129 11.4518L11.4513 19.2318L19.2313 11.4518L20.2913 10.3918C20.8023 9.88107 21.2076 9.27464 21.4842 8.60718C21.7608 7.93972 21.9031 7.22431 21.9031 6.50183C21.9031 5.77934 21.7608 5.06393 21.4842 4.39647C21.2076 3.72901 20.8023 3.12258 20.2913 2.61183Z"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <span>{{ articleData.likes }} Likes</span>
                  </div>
                  <div class="meta">
                    <div class="iconBox">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19 9.50003C19.0034 10.8199 18.6951 12.1219 18.1 13.3C17.3944 14.7118 16.3098 15.8992 14.9674 16.7293C13.6251 17.5594 12.0782 17.9994 10.5 18C9.18013 18.0035 7.87812 17.6951 6.7 17.1L1 19L2.9 13.3C2.30493 12.1219 1.99656 10.8199 2 9.50003C2.00061 7.92179 2.44061 6.37488 3.27072 5.03258C4.10083 3.69028 5.28825 2.6056 6.7 1.90003C7.87812 1.30496 9.18013 0.996587 10.5 1.00003H11C13.0843 1.11502 15.053 1.99479 16.5291 3.47089C18.0052 4.94699 18.885 6.91568 19 9.00003V9.50003Z"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <!-- <span>{{ articleData.comments }} Comments</span> -->
                  </div>
                </div>
              </div>
              <div class="contentBox">
                <div class="textBox sm ql-editor" [innerHTML]="articleData.description"></div>
                <div class="articleContent ql-editor" [innerHTML]="articleData.theArticle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="sideBox">
    <div class="inlineCalenderSmallCard">
      <div class="inner">
        <div class="inlineCalenderSmall" id="inlineCalenderSmall"></div>

        <div class="articleList">
          <div class="articleSmallCard">
            <a href="#" class="inner">
              <div class="articleImg">
                <picture class="">
                  <source srcset="./assets/images/articleImg1.webp" type="image/webp" />
                  <source srcset="./assets/images/articleImg1.jpg" type="image/jpeg" />
                  <img
                    src="./assets/images/articleImg1.jpg"
                    alt=""
                    width="80"
                    height="57"
                    loading="lazy"
                  />
                </picture>
              </div>

              <div class="contentBox">
                <div class="date">27 June 2025</div>
                <div class="t">
                  Lorem ipsum dolor sit amet, consec tetur adipiscing elit...
                </div>
              </div>
            </a>
          </div>
          <div class="articleSmallCard">
            <a href="#" class="inner">
              <div class="articleImg">
                <picture class="">
                  <source srcset="./assets/images/articleImg2.webp" type="image/webp" />
                  <source srcset="./assets/images/articleImg2.jpg" type="image/jpeg" />
                  <img
                    src="./assets/images/articleImg2.jpg"
                    alt=""
                    width="80"
                    height="57"
                    loading="lazy"
                  />
                </picture>
              </div>

              <div class="contentBox">
                <div class="date">27 June 2025</div>
                <div class="t">
                  Lorem ipsum dolor sit amet, consec tetur adipiscing elit...
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="leadersHighlightCard">
      <div class="imgBox">
        <picture class="">
          <source srcset="./assets/images/leadersHighlightImg.jpg" type="image/jpeg" />
          <img
            src="./assets/images/leadersHighlightImg.jpg"
            alt=""
            width="314"
            height="188"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="contentBox">
        <div class="title">Leaders Highlights</div>

        <div class="points">
          <div class="p">
            <div class="num" dir="ltr" data-animcount="700">
              <i class="not-italic">700</i><sup>+</sup>
            </div>
            <span>MBRCLD Alumni</span>
          </div>
          <div class="p">
            <div class="num" dir="ltr" data-animcount="40">
              <i class="not-italic">40</i><sup>+</sup>
            </div>
            <span>Sectors</span>
          </div>
          <div class="p">
            <div class="num" dir="ltr" data-animcount="1000">
              <i class="not-italic">1000</i><sup>+</sup>
            </div>
            <span>Transformational ideas and projects</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
