::ng-deep {
  .p-datepicker.p-component {
    z-index: 99999 !important;
  }

  .create-room .p-dialog-mask .p-dialog {
    width: 40%;
  }

  .create-room .p-dialog-footer button {
    width: auto !important;
  }
}

.modal {
  #duration {
    padding-right: 0 !important;
  }

  #order {
    padding-right: 0 !important;
  }
}

@media (max-width: 550px) {
  .modal {
    ::ng-deep {
      .p-dialog-resizable {
        width: 85vw !important;
      }
    }
  }
}
