::ng-deep {
  .p-datepicker.p-component {
    z-index: 99999 !important;
  }

  .create-room .p-dialog-mask .p-dialog {
    width: 40%;
  }

  .create-room .p-dialog-footer button {
    width: auto !important;
  }

  .popupBox.mdBox.materialDialog.p-dialog .p-dialog-content {
    padding: 0;
    overflow: visible;
  }

  .popupBox.mdBox.materialDialog .formBox .input-field:has(.iconBox) .p-calendar .p-inputtext,
  .popupBox.mdBox.materialDialog .formBox .input-field:has(.iconBox) .p-inputnumber .p-inputtext {
    padding-inline-end: 3rem;
  }

  .popupBox.mdBox.materialDialog.newsfeedDialog.p-dialog .p-dialog-content {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    max-height: 75vh;
  }
}

@media (max-width: 550px) {
  .modal {
    ::ng-deep {
      .p-dialog-resizable {
        width: 85vw !important;
      }
    }
  }
}
