<!-- <div *ngIf="ready; else loading" class=" border rounded-lg border-gray-400  bg-white p-4">
  <div *ngIf="role === 3">
    <div class="meeting-hub" i18n>Meeting Hub</div>
    <div class="header-content" i18n>
      This is where you can find groups of people who share your interests where you could discuss
      your ideas with
    </div>
  </div>
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Topics" i18n-header [selected]="meetingTabs === '0'">
      <div class="meeting-rooms flex col-gap-3 row-gap-3">
        <div *ngFor="let room of meetingRooms">
          <app-meeting-rooms [room]="room" [userId]="userId"></app-meeting-rooms>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Alumni Search" i18n-header [selected]="meetingTabs === '1'">
      <div class="flex justify-between mt-5 input-container">
        <div class="dropdown-container">
          <p-dropdown
            [options]="sectorOptions"
            [(ngModel)]="selectedSector"
            placeholder="Select a Sector"
            optionLabel="label"
            [showClear]="true"
            inputId="sector"
            i18n-placeholder
          ></p-dropdown>
        </div>
        <div class="dropdown-container">
          <p-dropdown
            [options]="allPrograms"
            [(ngModel)]="selectedProgram"
            placeholder="Select a Program"
            optionLabel="name"
            [showClear]="true"
            inputId="program"
            (onChange)="getcohortYears($event)"
            i18n-placeholder
          ></p-dropdown>
        </div>
        <div class="dropdown-container">
          <p-dropdown
            [options]="cohortYears"
            [(ngModel)]="selectedYear"
            placeholder="Select a Cohort Year"
            optionLabel="label"
            [showClear]="true"
            inputId="cohortYear"
            i18n-placeholder
          ></p-dropdown>
        </div>
        <div>
          <button
            pButton
            type="button"
            label="Search"
            icon="pi pi-search"
            (click)="searchMeeting()"
            i18n-label
          ></button>
        </div>
      </div>
      <div>
        <div *ngIf="isSearched; else noSearched">
          <div *ngIf="isFindUserDone; else loadingClassList" class="mt-4 p-grid">
            <div *ngIf="noUserFinded; else finded">
              <h1 class="text-center mt-4">No User Finded!</h1>
            </div>
            <ng-template #finded>
              <div class="p-col-4"  *ngFor="let item of findedUsers">
                <app-class-member-item
                [data]="item"
              ></app-class-member-item>
              </div>
            </ng-template>
          </div>
          <ng-template #loadingClassList>
            <app-progress-spinner></app-progress-spinner>
          </ng-template>
        </div>
        <ng-template #noSearched>
          <h1 class="text-center mt-4" i18n>No user searched yet!</h1>
        </ng-template>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template> -->


<ng-container *ngIf="ready; else loading">
  <div class="mainContainer">
    <div class="gridWrap">
      <div class="generalCard">
        <div class="inner">
          <div class="cardTitleWrap">
            <div class="cardTitle">Meeting Hub</div>
            <div class="cardTools">
              <div class="searchBox">
                <form class="form-v3 filledColor">
                  <div class="input-field">
                    <input type="text" placeholder="Search" />
                    <button class="iconBox" type="button">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                          stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21 20.9999L16.65 16.6499" stroke="currentcolor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="gridWrap border">
            <div class="circleTabWrap">
              <a href="javascript:void(0)" class="cLink" [class.active]="meetingTabs === '0'"
                (click)="meetingTabs = '0'">
                <span>Topics</span>
              </a>
              <a href="javascript:void(0)" class="cLink" [class.active]="meetingTabs === '1'"
                (click)="meetingTabs = '1'">
                <span>Alumni Search</span>
              </a>
            </div>

            <!-- Topics tab content -->
            <ng-container *ngIf="meetingTabs === '0'">
              <div class="noData" *ngIf="!meetingRooms?.length">
                <div class="iconBox">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background: new 0 0 512 512"
                    xml:space="preserve" class="">
                    <path
                      d="M26 48c-1.08 0-2.04-.02-2.95-.07-.54-.03-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.98-1.05-.95c-.91.05-1.87.07-2.95.07zM26 36c-1.08 0-2.04-.02-2.95-.07-.54-.02-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.97-1.05-.95c-.91.05-1.87.07-2.95.07zM26 24c-1.08 0-2.04-.02-2.95-.07-.54-.03-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.98-1.05-.95c-.91.05-1.87.07-2.95.07zM32.27 53.69c-6.08.6-12.75.29-18.06-.85a1.003 1.003 0 0 0-.42 1.96c3.66.79 7.88 1.2 12.21 1.2 2.18 0 4.36-.11 6.47-.31a1 1 0 1 0-.19-1.99z"
                      fill="currentcolor"></path>
                    <path
                      d="M10.32 51.79C6.36 50.46 4 48.67 4 47v-8.23C7.96 42.19 17.19 44 26 44c2.01 0 4-.09 5.93-.26.55-.05.96-.54.91-1.09s-.54-.94-1.09-.91c-1.87.17-3.8.26-5.75.26-12.96 0-22-3.69-22-7v-8.23C7.96 30.19 17.19 32 26 32c3.55 0 6.97-.27 10.17-.81.54-.09.91-.61.82-1.15s-.61-.92-1.15-.82c-3.09.52-6.4.79-9.83.79-12.96 0-22-3.69-22-7v-8.23c3.96 3.42 13.19 5.23 22 5.23s18.04-1.81 22-5.23v8.23c0 1.96-3.16 4.01-8.26 5.37-.53.14-.85.69-.71 1.22.12.45.52.74.97.74.08 0 .17-.01.26-.03 3.49-.93 6.1-2.15 7.74-3.56v4.29c0 .55.45 1 1 1s1-.45 1-1V11c0-5.85-12.37-9-24-9-4.33 0-8.55.42-12.21 1.2-.54.12-.88.65-.77 1.19.12.54.65.88 1.19.77C17.75 4.4 21.82 4 26.01 4c12.96 0 22 3.69 22 7s-9.04 7-22 7S4 14.31 4 11c0-1.67 2.36-3.46 6.32-4.79.52-.18.81-.74.63-1.27-.18-.52-.74-.8-1.27-.63C4.73 5.97 2 8.35 2 11v36c0 2.65 2.73 5.03 7.68 6.69.11.04.21.05.32.05.42 0 .81-.26.95-.68.18-.52-.11-1.09-.63-1.27z"
                      fill="currentcolor"></path>
                    <path
                      d="M48 34c-7.72 0-14 6.28-14 14s6.28 14 14 14c2.99 0 5.84-.94 8.25-2.7.45-.33.54-.95.21-1.4s-.95-.54-1.4-.21a11.834 11.834 0 0 1-7.07 2.32c-6.62 0-12-5.38-12-12s5.38-12 12-12 12 5.38 12 12c0 2.56-.8 5.01-2.32 7.07-.33.44-.23 1.07.21 1.4s1.07.23 1.4-.21c1.77-2.41 2.7-5.26 2.7-8.25 0-7.72-6.28-14-14-14z"
                      fill="currentcolor"></path>
                    <path
                      d="M53.71 42.29a.996.996 0 0 0-1.41 0l-4.29 4.29-4.29-4.29a.996.996 0 1 0-1.41 1.41l4.29 4.29-4.29 4.29a.996.996 0 0 0 .71 1.7c.26 0 .51-.1.71-.29l4.29-4.29 4.29 4.29c.2.2.45.29.71.29s.51-.1.71-.29a.996.996 0 0 0 0-1.41l-4.29-4.29 4.29-4.29a.996.996 0 0 0 0-1.41z"
                      fill="currentcolor"></path>
                  </svg>
                </div>
                <div class="t">No Topics Found</div>
              </div>
              <div class="programCard col1" *ngFor="let room of meetingRooms" >
                <div class="inner">
                  <div class="imgBox">
                    <picture class="">
                      <img [src]="room.image || './assets/images/meetingHubImg1.jpg'" [alt]="room.name" width="442"
                        height="242" loading="lazy" />
                    </picture>
                  </div>

                  <div class="contentBox">
                    <div class="title">{{ room.name }}</div>
                    <div class="textBox sm" *ngIf="room.description">
                      <p>{{ room.description }}</p>
                    </div>
                    <div class="followWrap">
                      <a href="javascript:void(0)" class="more radioBtnStyle wAuto small"
                        [class.active]="isFollowing(room)" (click)="toggleFollow(room)">
                        <span>{{ getFollowLabel(room) }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Alumni Search tab content -->
            <ng-container *ngIf="meetingTabs === '1'">
              <form class="form-v3 filledColor" (ngSubmit)="searchMeeting()">
                <div class="inputBox col3">
                  <div class="input-field normal">
                    <label for="selectSector" i18n>Select Sector</label>
                    <p-dropdown inputId="selectSector" [options]="sectorOptions" [(ngModel)]="selectedSector"
                      name="sector" optionLabel="label" [showClear]="true" i18n-placeholder placeholder="Select Sector" appendTo="body"></p-dropdown>
                  </div>
                  <div class="input-field normal">
                    <label for="selectProgram" i18n>Select a Program</label>
                    <p-dropdown inputId="selectProgram" [options]="allPrograms" [(ngModel)]="selectedProgram"
                      name="program" optionLabel="name" [showClear]="true" i18n-placeholder placeholder="Select a Program" appendTo="body"
                      (onChange)="getcohortYears($event)"></p-dropdown>
                  </div>
                  <div class="input-field normal">
                    <label for="selectCohortYear" i18n>Select a Cohort Year</label>
                    <p-dropdown inputId="selectCohortYear" [options]="cohortYears" [(ngModel)]="selectedYear"
                      name="cohortYear" optionLabel="label" [showClear]="true" i18n-placeholder placeholder="Select a Cohort Year" appendTo="body"></p-dropdown>
                  </div>
                  <div class="input-field normal full buttonWrap end">
                    <button type="submit" class="more wAuto">
                      <span i18n>Search</span>
                    </button>
                  </div>
                </div>
              </form>

              <div *ngIf="isSearched && !isFindUserDone" class="alumniLoadingWrap">
                <app-progress-spinner></app-progress-spinner>
              </div>

              <div *ngIf="isSearched && isFindUserDone && noUserFinded" class="noData">
                <div class="iconBox">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background: new 0 0 512 512"
                    xml:space="preserve" class="">
                    <path
                      d="M26 48c-1.08 0-2.04-.02-2.95-.07-.54-.03-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.98-1.05-.95c-.91.05-1.87.07-2.95.07zM26 36c-1.08 0-2.04-.02-2.95-.07-.54-.02-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.97-1.05-.95c-.91.05-1.87.07-2.95.07zM26 24c-1.08 0-2.04-.02-2.95-.07-.54-.03-1.02.4-1.05.95s.4 1.02.95 1.05c.94.05 1.94.07 3.05.07s2.11-.02 3.05-.07c.55-.03.98-.5.95-1.05s-.5-.98-1.05-.95c-.91.05-1.87.07-2.95.07zM32.27 53.69c-6.08.6-12.75.29-18.06-.85a1.003 1.003 0 0 0-.42 1.96c3.66.79 7.88 1.2 12.21 1.2 2.18 0 4.36-.11 6.47-.31a1 1 0 1 0-.19-1.99z"
                      fill="currentcolor"></path>
                    <path
                      d="M10.32 51.79C6.36 50.46 4 48.67 4 47v-8.23C7.96 42.19 17.19 44 26 44c2.01 0 4-.09 5.93-.26.55-.05.96-.54.91-1.09s-.54-.94-1.09-.91c-1.87.17-3.8.26-5.75.26-12.96 0-22-3.69-22-7v-8.23C7.96 30.19 17.19 32 26 32c3.55 0 6.97-.27 10.17-.81.54-.09.91-.61.82-1.15s-.61-.92-1.15-.82c-3.09.52-6.4.79-9.83.79-12.96 0-22-3.69-22-7v-8.23c3.96 3.42 13.19 5.23 22 5.23s18.04-1.81 22-5.23v8.23c0 1.96-3.16 4.01-8.26 5.37-.53.14-.85.69-.71 1.22.12.45.52.74.97.74.08 0 .17-.01.26-.03 3.49-.93 6.1-2.15 7.74-3.56v4.29c0 .55.45 1 1 1s1-.45 1-1V11c0-5.85-12.37-9-24-9-4.33 0-8.55.42-12.21 1.2-.54.12-.88.65-.77 1.19.12.54.65.88 1.19.77C17.75 4.4 21.82 4 26.01 4c12.96 0 22 3.69 22 7s-9.04 7-22 7S4 14.31 4 11c0-1.67 2.36-3.46 6.32-4.79.52-.18.81-.74.63-1.27-.18-.52-.74-.8-1.27-.63C4.73 5.97 2 8.35 2 11v36c0 2.65 2.73 5.03 7.68 6.69.11.04.21.05.32.05.42 0 .81-.26.95-.68.18-.52-.11-1.09-.63-1.27z"
                      fill="currentcolor"></path>
                    <path
                      d="M48 34c-7.72 0-14 6.28-14 14s6.28 14 14 14c2.99 0 5.84-.94 8.25-2.7.45-.33.54-.95.21-1.4s-.95-.54-1.4-.21a11.834 11.834 0 0 1-7.07 2.32c-6.62 0-12-5.38-12-12s5.38-12 12-12 12 5.38 12 12c0 2.56-.8 5.01-2.32 7.07-.33.44-.23 1.07.21 1.4s1.07.23 1.4-.21c1.77-2.41 2.7-5.26 2.7-8.25 0-7.72-6.28-14-14-14z"
                      fill="currentcolor"></path>
                    <path
                      d="M53.71 42.29a.996.996 0 0 0-1.41 0l-4.29 4.29-4.29-4.29a.996.996 0 1 0-1.41 1.41l4.29 4.29-4.29 4.29a.996.996 0 0 0 .71 1.7c.26 0 .51-.1.71-.29l4.29-4.29 4.29 4.29c.2.2.45.29.71.29s.51-.1.71-.29a.996.996 0 0 0 0-1.41l-4.29-4.29 4.29-4.29a.996.996 0 0 0 0-1.41z"
                      fill="currentcolor"></path>
                  </svg>
                </div>
                <div class="t" i18n>No Alumni Found</div>
              </div>

              <div *ngIf="isSearched && isFindUserDone && findedUsers?.length" class="alumniGrid">
                <app-class-member-item *ngFor="let item of findedUsers" [data]="item"></app-class-member-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <app-side-box></app-side-box>
  </div>
</ng-container>
<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>