<div class="mainContainer">
  <div class="gridWrap">
    <div class="generalCard">
      <div class="inner">
        <div class="cardTitle" i18n>Programs</div>

        <div class="gridWrap border">
          <ng-container *ngIf="ready; else loading">
            <div class="programCard col1" *ngFor="let item of programsList">
              <a [routerLink]="'view/' + item.id" class="inner">
                <div class="imgBox">
                  <picture>
                    <img
                      [src]="item.pictureUrl"
                      alt=""
                      width="442"
                      height="242"
                      loading="lazy"
                    />
                  </picture>
                </div>

                <div class="contentBox">
                  <div class="title">
                    {{ item.name }}
                  </div>

                  <div class="textBox sm">
                    <p>
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div *ngIf="programsList?.length === 0" class="no-programs-message">
              <p i18n>No programs found.</p>
            </div>
          </ng-container>

          <ng-template #loading>
            <app-progress-spinner></app-progress-spinner>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</div>
