::ng-deep {
  .popupBox.mdBox.applicantProfileDialog.p-dialog {
    border-radius: 24px !important;
    overflow: hidden;
    border: none !important;

    .p-dialog-content {
      padding: 0 !important;
      border-radius: 24px !important;
      overflow-x: hidden;
    }

    .plusBtn {
      top: 1.5rem !important;
      right: 1.5rem !important;
      left: auto !important;
      position: absolute !important;
      z-index: 10;
    }
  }
}
