// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$navBarBgColor: #0071be;
$buttonBgColor: #2d7bbb;

:root {
  --primary-color: #0071be;

}

@font-face {
  font-family: "Untitled Sans";
  src: url("assets/fonts/UntitledSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Untitled Sans";
  src: url("assets/fonts/UntitledSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Untitled Sans";
  src: url("assets/fonts/UntitledSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Untitled Sans";
  src: url("assets/fonts/UntitledSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Untitled Sans";
  src: url("assets/fonts/UntitledSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLT";
  src: url("assets/fonts/HelveticaNeueLTArabic-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLT";
  src: url("assets/fonts/HelveticaNeueLTArabic-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueLT";
  src: url("assets/fonts/HelveticaNeueLTArabic-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Arabic 55 Roman';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/helveticaneuelt-arabic-55-roman.woff2') format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

.mbrcld-font {
  font-family: var(--fontFamily);
}

// html,
// body {
//   font-size: 14px;
//   color: #222;
//   @extend .mbrcld-font;
// }

.p-component,
.p-inputtext {
  @extend .mbrcld-font;
}

.p-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 12px;
}

[dir=rtl] {
  .p-button {
    @apply flex-row-reverse;

    &.p-button-icon-left {
      @apply me-2;
      @apply ms-0;
    }

    &.p-button-icon-right {
      @apply me-0;
      @apply ms-2;
    }
  }

  .p-fileupload .p-fileupload-buttonbar .p-button {
    @apply ms-0;
    @apply me-2;
  }

  .p-slidemenu .p-menuitem-link .p-menuitem-icon {
    @apply me-2;
  }

  .p-datepicker-prev-icon,
  .p-datepicker-next-icon {
    transform: rotate(180deg);
  }

  .circle {
    right: 87px;
  }

  .view-user-fullName {
    @apply mr-3;
  }

  .text-caption {
    @apply mr-3;
  }

  .info-text {
    @apply mr-3;
  }

  .modules-fields {
    @apply mr-2;
  }

  .backSections {
    @apply mr-3;
  }

  .statusText {
    @apply mr-3;
  }

  .content-text {
    text-align: left;
  }

  .descriptionSection {
    @apply mr-3;
  }

  .go-back {
    @apply mr-3;
  }

  .send-button {
    @apply mr-3;
  }

  .searchIcon {
    right: 15px;
  }

  .searchInput {
    padding: 12px 35px 12px 38px !important;
  }
}

.profile-form {
  label {
    margin: 0 !important;
  }

  input,
  .p-dropdown-label {
    font-weight: 500;
  }
}

.p-inputtext {
  @apply p-3;
}

.p-inputtext:not(.p-dropdown-filter),
.p-dropdown {
  display: flex !important;
  // border-radius: 0 !important;
  // border-top: none !important;
  // border-left: none !important;
  // border-right: none !important;
  // padding-left: 0 !important;
  border-radius: 12px;
  color: #222222;

  &:focus,
  &.p-focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

@media (max-width: 640px) {
  .p-steps-title {
    display: none !important;
  }

  .p-highlight .p-steps-title {
    display: block !important;
  }
}

.p-highlighted .p-steps-number {
  background: #38a169 !important;
  color: #ffffff !important;
}

.p-highlighted .p-steps-title {
  font-weight: 600;
  color: #495057;
}

[dir=rtl] .flip-dir {
  transform: rotate(180deg);
}

.program-card {
  &.program-card-active {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }

  overflow: hidden;
  border-radius: 10px;

  .header-img {
    height: 150px;
    object-fit: cover;
    min-width: 150px !important;
  }

  .info-text {
    height: auto;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.program-section-title {
  font-size: 2em;
  font-weight: 600;
  @apply py-2;
  @apply my-4;
  border-bottom: 2px solid var(--primary-color);

  @screen lg {
    width: 50%;
  }

}

.bg-card-light {
  background: #f1f0ee;
  border-radius: 1rem;
  border: 1px solid #c4c4c5;
}

// .text-blue{
//     color:var(--primary-color);
//   }

.app-phone-input>.p-inputtext {
  height: auto !important;
  border-color: rgb(206, 212, 218) !important;

}


.p-slidemenu.p-slidemenu-overlay {
  border-radius: 15px;

  .p-slidemenu-content {
    margin: 13px 18px 0 18px;
    overflow: visible;
    ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;

      .p-menuitem-link {
        padding: 0;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: calc(26 / var(--gfs) * 1rem);
        font-weight: 400;
        transition: all .4s var(--ease);

        .p-menuitem-icon {
          padding: 7px;
          border-radius: 50%;
        }

        &:hover {
          background-color: transparent;

          .p-menuitem-text {
            color: #2e66d9;
          }

          .p-menuitem-icon {
            background-color: #2e66d9;
            color: #fff;
          }
        }
      }
    }
  }
}