
<ng-container *ngIf="ready; else loading">
  <form class="form-v3 filledColor formBlock">
    <div class="formGroup">
      <div class="grpInfo">
        <div class="title" i18n>Achievements</div>
        <div class="textBox sm">
          <p i18n>
            This section requires you to provide your top 3 career specific achievements
            within your career history
          </p>
        </div>
      </div>

      <div class="inputList">
        <div class="addBtnWrap">
          <a (click)="openAddAchievementDialog()" class="plusBtn" style="cursor: pointer;">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 8.82355V21.1765" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.82422 15H21.1772" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </div>

        <div *ngIf="achievements.length === 0" class="py-8 text-center w-full">
          <span class="text-sm text-gray-700" i18n>You haven't added any achievements yet</span>
        </div>

        <div class="inputItem" *ngFor="let mainAchievement of achievements; let index = index">
          <div class="inner">
            <div class="contentBox">
              <div class="t" i18n>Year of Achievement: {{ mainAchievement.yearOfAchievement }}</div>
              <div class="textBox sm">
                <p>
                  {{ mainAchievement | lang:'organization' }}<br />
                  {{ mainAchievement | lang:'summaryOfAchievement' }}
                </p>
              </div>
            </div>
            <div class="tools">
              <button type="button" class="iconBtn btnGreen" (click)="openAchievementDialogForEditing(mainAchievement)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 20H21" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M16.5 3.50001C16.8978 3.10219 17.4374 2.87869 18 2.87869C18.2786 2.87869 18.5544 2.93356 18.8118 3.04017C19.0692 3.14677 19.303 3.30303 19.5 3.50001C19.697 3.697 19.8532 3.93085 19.9598 4.18822C20.0665 4.44559 20.1213 4.72144 20.1213 5.00001C20.1213 5.27859 20.0665 5.55444 19.9598 5.81181C19.8532 6.06918 19.697 6.30303 19.5 6.50001L7 19L3 20L4 16L16.5 3.50001Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" class="iconBtn btnRed" (click)="removeAchievement(mainAchievement)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 6H5H21" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M10 11V17" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M14 11V17" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="formGroup">
      <div class="inputBox">
        <div class="input-field normal full buttonWrap">
          <button type="button" class="more wAuto" (click)="goToNextForm()" [disabled]="achievements.length === 0">
            <span i18n>Next</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>


<p-dialog
  [(visible)]="showAchievementDialog"
  [modal]="true"
  [focusTrap]="true"
  [focusOnShow]="true"
  [draggable]="false"
  [showHeader]="false"
  [contentStyle]="{ 'max-height': 'fit-content', overflow: 'auto' }"
  [blockScroll]="true"
  styleClass="popupBox mdBox achievementDialog"
>
  <div class="inner">
    <div class="topBox">
      <div class="title">{{ editingAchievement.id ? 'Edit Achievement' : 'Add Achievement' }}</div>
      <a href="javascript:void(0)" class="plusBtn" (click)="showAchievementDialog = false" aria-label="Close">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="formBox">
      <form
        [formGroup]="achievementForm"
        class="form-v3 filledColor"
        (ngSubmit)="editingAchievement.id ? updateAchievement() : addAchievement()"
      >
        <div class="inputBox">
          <div class="input-field normal">
            <label for="description">Description <span class="text-red-500">*</span></label>
            <textarea
              pInputTextarea
              formControlName="description"
              rows="5"
              id="description"
              placeholder="Enter Description"
            ></textarea>
            <small appControlValidationError controlName="description" class="p-invalid"></small>
          </div>
          <div class="input-field normal" dir="rtl">
            <label for="description_AR">الوصف <span class="text-red-500">*</span></label>
            <textarea
              pInputTextarea
              formControlName="description_AR"
              rows="5"
              id="description_AR"
              placeholder="أدخل الوصف"
            ></textarea>
            <small appControlValidationError controlName="description_AR" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="summaryOfAchievement">Summary of achievement <span class="text-red-500">*</span></label>
            <input
              pInputText
              formControlName="summaryOfAchievement"
              type="text"
              id="summaryOfAchievement"
              placeholder="Enter summary of achievement"
            />
            <small appControlValidationError controlName="summaryOfAchievement" class="p-invalid"></small>
          </div>
          <div class="input-field normal" dir="rtl">
            <label for="summaryOfAchievement_AR">ملخص الإنجاز <span class="text-red-500">*</span></label>
            <input
              pInputText
              formControlName="summaryOfAchievement_AR"
              type="text"
              id="summaryOfAchievement_AR"
              placeholder="أدخل ملخص الإنجاز"
            />
            <small appControlValidationError controlName="summaryOfAchievement_AR" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="populationImpact" i18n>Population Impacted <span class="text-red-500">*</span></label>
            <p-dropdown
              appendTo="body"
              [baseZIndex]="30000"
              [autoZIndex]="true"
              [options]="populationImpactOptions"
              formControlName="populationImpact"
              id="populationImpact"
              placeholder="Select Population Impacted"
              i18n-placeholder
            ></p-dropdown>
            <small appControlValidationError controlName="populationImpact" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="financialImpact" i18n>Financial Impact <span class="text-red-500">*</span></label>
            <p-dropdown
              appendTo="body"
              [baseZIndex]="30000"
              [autoZIndex]="true"
              [options]="financialImpactOptions"
              formControlName="financialImpact"
              id="financialImpact"
              placeholder="Select Financial Impact"
              i18n-placeholder
            ></p-dropdown>
            <small appControlValidationError controlName="financialImpact" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="organization">Organization/Project/Situation <span class="text-red-500">*</span></label>
            <input
              pInputText
              formControlName="organization"
              type="text"
              id="organization"
              placeholder="Enter Organization/Project/Situation"
            />
            <small appControlValidationError controlName="organization" class="p-invalid"></small>
          </div>
          <div class="input-field normal" dir="rtl">
            <label for="organization_AR">المنظمة/المشروع/الحالة <span class="text-red-500">*</span></label>
            <input
              pInputText
              formControlName="organization_AR"
              type="text"
              id="organization_AR"
              placeholder="أدخل المنظمة/المشروع/الحالة"
            />
            <small appControlValidationError controlName="organization_AR" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="yearOfAchievement" i18n>Year of achievement <span class="text-red-500">*</span></label>
            <p-dropdown
              appendTo="body"
              [baseZIndex]="30000"
              [autoZIndex]="true"
              [options]="yearOptions"
              formControlName="yearOfAchievement"
              id="yearOfAchievement"
              placeholder="Select Year Of Achievement"
              i18n-placeholder
            ></p-dropdown>
            <small appControlValidationError controlName="yearOfAchievement" class="p-invalid"></small>
          </div>
          <div class="input-field normal">
            <label for="achievementImpact" i18n>Achievement Impacted <span class="text-red-500">*</span></label>
            <p-dropdown
              appendTo="body"
              [baseZIndex]="30000"
              [autoZIndex]="true"
              [options]="achievementImpactOptions"
              formControlName="achievementImpact"
              id="achievementImpact"
              placeholder="Select Achievement Impacted"
              i18n-placeholder
            ></p-dropdown>
            <small appControlValidationError controlName="achievementImpact" class="p-invalid"></small>
          </div>
          <div class="input-field normal full buttonWrap">
            <button type="submit" class="more wAuto" [disabled]="achievementForm.invalid || isFormSubmitting">
              <span i18n>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<p-confirmDialog
  appPrimeNGi18n
  header="Confirmation"
  i18n-header
  icon="pi pi-exclamation-triangle"
  styleClass="w-full max-w-sm"
>
</p-confirmDialog>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
