<div *ngIf="isReady; else loading">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
    <app-class-member-item-small
      *ngFor="let item of products"
      [data]="item"
      (selectApplicant)="onApplicantSelect($event)"
    ></app-class-member-item-small>
  </div>

  <div class="mt-4">
    <div *ngIf="!selectedProduct; else liveClassesDataReady" class="p-col-12 py-8 text-center">
      <span class="text-sm text-gray-700" i18n>You haven't selected applicant yet</span>
    </div>
    <ng-template #liveClassesDataReady>
      <div *ngIf="isReadyLiveClassesData; else loadingLiveClasses" class="grid gap-4">
        <app-live-classes-item
          *ngFor="let item of liveClassesData"
          [data]="item"
          [canViewActivity]="false"
        ></app-live-classes-item>
      </div>
      <ng-template #loadingLiveClasses>
        <app-progress-spinner></app-progress-spinner>
      </ng-template>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>
