:host {
  @apply flex;
  @apply flex-row;
  @apply overflow-x-hidden;
  background-color: #dadbdc;
}

.content {
  @apply h-screen;
  @apply flex;
  @apply flex-row;
  @apply justify-center;
  @apply overflow-auto;
  @apply flex-grow;
  @apply p-8;
  @apply pt-24;

  @screen lg {
    position: relative;
    
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.content-width {
  @apply max-w-full;
  @apply flex-grow;

  // @screen lg {
  //   @apply max-w-screen-sm;
  // }

  // @screen xl {
  //   @apply max-w-screen-md;
  // }
}

.empty-area {
  display: none;
  height: 30px;
}

.panel-right {
  @apply hidden;
  @apply pe-3;
  width: 12rem;
  min-width: 12rem;

  @screen lg {
    @apply block;
  }
}

.chat-options-block {
  position: fixed;
  right: 17px;
  bottom: 17px;
}

::ng-deep {
  .chat-button {
    background-color: #000000;
    border-color: #000000;
    width: 4rem !important;
    height: 4rem !important;
    display: inline-flex !important;
    span.p-button-icon {
      font-size: 1.5rem;
    }
    &:enabled:hover{
      background-color: #1b1b1b;
      border-color: #1b1b1b;
    }
  }
}

.toolbar-chat-icon {
  display: none;
}

@media (max-width: 1023px) {
  .chat-options-block {
    display: none;
  }

  .toolbar-chat-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 70px;
    z-index: 8000;
  }

  .chat-button-toolbar {
    width: 2.5rem !important;
    height: 2.5rem !important;
    display: inline-flex !important;
    span.p-button-icon {
      font-size: 1.5rem;
    }
  }

  .content {
    display: block;
  }

  .empty-area {
    display: block;
  }
}
