.app-title {
  @apply text-2xl;
  @apply text-white;
  @apply font-bold;
  @apply border-b-2;
  @apply border-blue-500;
  @apply pb-3;
  @apply mb-5;
}

.app-left-pane {
  background-color: #0071BE;
}


.login-content{
  @apply text-white;
  @apply bg-black;
  min-height: 100vh;
  @screen md{
    background: url("~src/assets/images/login-bg.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #000000;

    &.login-rtl{
      background: url("~src/assets/images/login-bg-rtl.png") !important;
      background-position: left !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-color: #000000 !important;
    }
   }
}