<main>
  <div class="homePage">
    <div class="contentBox">
      <div class="textArea">
        <h1>Ready to Become a Leader?</h1>

        <div class="textBox sm">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et
            Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et

          </p>
        </div>
        <div class="metaInfoWrap" data-homeslider>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">17</div>
                    <div class="t">Director Generals</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">10</div>
                    <div class="t">CEO &amp; EVP</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">89</div>
                    <div class="t">Under Secretaries</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">17</div>
                    <div class="t">Director Generals</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">10</div>
                    <div class="t">CEO &amp; EVP</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide keyInfo">
                <div class="inner">
                  <div class="mainCount">
                    <div class="num">89</div>
                    <div class="t">Under Secretaries</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="imgBox">
        <picture class="">
          <source srcset="../../../assets/imagesNew/homeBanner.webp " type="image/webp" />
          <source srcset="../../../assets/imagesNew/homeBanner.png " type="image/png" />
          <img src="../../../assets/imagesNew/homeBanner.png" alt="" width="676" height="896" />
        </picture>
      </div>
    </div>
    <div class="loginSide">
      <a href="./index.html" class="logoBox" title="">
        <img src="../../../assets/imagesNew/logoColor.svg" class="mainLogo" alt="Logo" />
      </a>
      <div class="formBox">
        <div class="title">Reset Password</div>
        <div class="text-2xl text-center font-semibold mt-10 mb-10" *ngIf="isFormSubmitted" i18n>
          We have sent you an email!
        </div>
        <form [formGroup]="resetPasswordForm" class="form-v3" action="./reUserDashboard.html"
          (ngSubmit)="resetPassword()" *ngIf="!isFormSubmitted">
          <div class="inputBox">

            <div class="input-field full normal">
              <label for="email" i18n>Email *</label>
              <input pInputText type="email" id="email" formControlName="email" placeholder="Enter email"
                i18n-placeholder class="h-12" [disabled]="disableForm">
              <small appControlValidationError controlName="email" class="p-invalid"></small>

            </div>

            <div class="input-field full buttonWrap">
              <button type="submit" class="more" [disabled]="disableForm">
                <span>Reset Password</span>
              </button>

            </div>
          </div>
        </form>


        <p-toast></p-toast>
      </div>
      <div class="goBackLink">
        <label>Dont have an account? </label><a href="./signUp.html" class="link"><span>Signup</span></a>
      </div>
    </div>
  </div>
</main>

<!-- <div class="flex p-flex-column md:h-screen login-content" [ngClass]="{'login-rtl' : locale ==='ar'}">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="flex justify-between w-full">
        <div class="p-6">
          <img src="assets/images/mbrcld_logo_white.png" alt="" class="logo-img" />
        </div>
        <div class="p-6 flex justify-center lg:justify-end">
          <app-language-switcher [alt]="true"></app-language-switcher>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid p-grid flex flex-grow justify-center items-center md:h-full overflow-y-auto">
   
    <div class="p-col-12 p-lg-6 flex p-flex-column p-align-center">
        <div class="text-2xl text-center font-semibold mt-10 mb-10" *ngIf="isFormSubmitted" i18n>
          We have sent you an email!
        </div>
        <form [formGroup]="resetPasswordForm" class="block my-auto p-fluid p-8 w-full max-w-xl" (ngSubmit)="resetPassword()" *ngIf="!isFormSubmitted">
          <h1 class="app-title" i18n>Reset Password</h1>
    
          <div class="p-field">
            <label for="email" i18n>Email *</label>
            <input pInputText type="email" id="email" formControlName="email" placeholder="Enter email" i18n-placeholder
              class="h-12" [disabled]="disableForm">
            <small appControlValidationError controlName="email" class="p-invalid"></small>
          </div>
          <div class="pt-4">
            <div class="p-field">
              <button pButton type="submit" label="Reset Password" i18n-label [disabled]="disableForm" class="h-12"></button>
            </div>
          </div>
        </form>
        <p-toast></p-toast>
      </div>
    <div class="p-col-12 p-lg-6"></div>
  </div>
</div> -->