<form class="form-v3 filledColor formBlock">
  <div class="formGroup">
    <div class="grpInfo">
      <div class="title" i18n>Smart Assessment</div>
      <div class="textBox sm">
        <p i18n="@@smartAssessmentRecommendation">
          We recommend you dedicate 30 minutes to complete this assessment on your computer or phone
          (not a tablet). pymetrics is designed to be fun and simple, there is no right or wrong
          answer, and after you finish you will receive a personalized report with insight into your
          behaviors. For any technical questions relating to accessing pymetrics or completing the
          assessment, please reach out directly to the pymetrics Helpdesk at support@pymetrics.com.
        </p>
      </div>
    </div>
  </div>

  <div class="formGroup">
    <div class="grpInfo">
      <div class="title" i18n>Please Note:</div>
      <div class="textBox sm">
        <ul>
          <li i18n>
            If you already have a pymetrics account under this email address for a different
            application or company, you should follow the link above, and login with your existing
            account. Please do not make a new account.
          </li>
          <li i18n>
            If you played pymetrics less than 330 days ago, you are not required to replay the
            exercises. Please login and follow the prompts to resubmit existing data, which will be
            re-assessed against the role profile to which you’ve applied.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="formGroup" *ngIf="ready; else loading">
    <div class="inputBox">
      <div class="input-field normal full buttonWrap center">
        <ng-container *ngIf="!!pymetricsUrl; else pending">
          <a (click)="openPymetricsPage()" class="more wAuto" style="cursor: pointer;">
            <span i18n>Start Assessment</span>
          </a>
        </ng-container>
        <ng-template #pending>
          <span class="text-sm text-gray-700" i18n>
            We are working on it. Please try again in a few minutes.
          </span>
        </ng-template>
      </div>
      <div class="mt-4 text-center" *ngIf="isAssessmentCompleted">
        <span class="text-sm text-gray-700" i18n>
          Please allow minimum of 5 minutes for the assessment results to be reflected on the
          system.
        </span>
      </div>
    </div>
  </div>

  <div class="formGroup">
    <div class="inputBox">
      <div class="input-field normal full buttonWrap flex gap-4">
        <button type="button" class="more wAuto" routerLink="../questions">
          <span i18n>Previous</span>
        </button>
        <button
          type="button"
          class="more wAuto"
          routerLink="../upload-video"
          [disabled]="!isAssessmentCompleted"
          [ngClass]="{ colorGray: !isAssessmentCompleted }"
        >
          <span i18n>Next</span>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #loading>
  <div class="flex flex-grow justify-center items-center py-8">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
