<div class="pb-8">
  <app-card sectionTitle="Change Password" i18n-sectionTitle class="flex-grow">
    <div *ngIf="isFormSubmitted" class="text-2xl text-center font-semibold mt-10 mb-10" i18n>
      Your password has been changed!
    </div>
    <form *ngIf="!isFormSubmitted" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
      <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-12 p-lg-6">
          <div class="p-field">
            <label for="currentPassword" i18n>Old Password *</label>
            <input pPassword formControlName="currentPassword" type="password" id="currentPassword" placeholder="Enter Old Password" i18n-placeholder [feedback]="false">
            <small appControlValidationError controlName="currentPassword" class="p-invalid"></small>
          </div>
          <div class="p-field relative">
            <label for="newPassword" i18n>New Password *</label>
            <input [feedback]="false" appPasswordValidator pPassword formControlName="newPassword" type="password" id="newPassword" placeholder="Enter New Password" i18n-placeholder>
            <small appControlValidationError controlName="newPassword" class="p-invalid"></small>
          </div>
          <div class="p-field">
            <label for="confirmNewPassword" i18n>Confirm New Password *</label>
            <input [feedback]="false" pPassword formControlName="confirmNewPassword" type="password" id="confirmNewPassword" placeholder="Re-Enter New Password" i18n-placeholder>
            <small appControlValidationError controlName="confirmNewPassword" [messages]="{ equalTo: 'Passwords do not match' }" class="p-invalid"></small>
          </div>
          <div i18n>
            Forgot your old password? <a routerLink="/authorize/password-reset" class="text-blue-600">Reset Password</a>
          </div>
        </div>
        <div class="mt-5 p-col-12 flex justify-end">
          <p-button [disabled]="changePasswordForm.invalid || isFormSubmitting" class="p-button-md" icon="pi pi-check"
            type="submit" label="Submit" i18n-label></p-button>
        </div>
      </div>
    </form>
  </app-card>
</div>

<p-toast></p-toast>
