<!-- <div class="pb-8">
  <app-card sectionTitle="Change Password" i18n-sectionTitle class="flex-grow">
    <div *ngIf="isFormSubmitted" class="text-2xl text-center font-semibold mt-10 mb-10" i18n>
      Your password has been changed!
    </div>
    <form *ngIf="!isFormSubmitted" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
      <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-12 p-lg-6">
          <div class="p-field">
            <label for="currentPassword" i18n>Old Password *</label>
            <input pPassword formControlName="currentPassword" type="password" id="currentPassword" placeholder="Enter Old Password" i18n-placeholder [feedback]="false">
            <small appControlValidationError controlName="currentPassword" class="p-invalid"></small>
          </div>
          <div class="p-field relative">
            <label for="newPassword" i18n>New Password *</label>
            <input [feedback]="false" appPasswordValidator pPassword formControlName="newPassword" type="password" id="newPassword" placeholder="Enter New Password" i18n-placeholder>
            <small appControlValidationError controlName="newPassword" class="p-invalid"></small>
          </div>
          <div class="p-field">
            <label for="confirmNewPassword" i18n>Confirm New Password *</label>
            <input [feedback]="false" pPassword formControlName="confirmNewPassword" type="password" id="confirmNewPassword" placeholder="Re-Enter New Password" i18n-placeholder>
            <small appControlValidationError controlName="confirmNewPassword" [messages]="{ equalTo: 'Passwords do not match' }" class="p-invalid"></small>
          </div>
          <div i18n>
            Forgot your old password? <a routerLink="/authorize/password-reset" class="text-blue-600">Reset Password</a>
          </div>
        </div>
        <div class="mt-5 p-col-12 flex justify-end">
          <p-button [disabled]="changePasswordForm.invalid || isFormSubmitting" class="p-button-md" icon="pi pi-check"
            type="submit" label="Submit" i18n-label></p-button>
        </div>
      </div>
    </form>
  </app-card>
</div>

 -->

<p-toast></p-toast>

<div class="mainContainer">
  <div class="gridWrap">
    <div class="generalCard">
      <div class="inner">
        <div class="cardTitleWrap">
          <div class="cardTitle">Change Password</div>
          <div class="cardTools"></div>
        </div>

        <div class="roundFormWrap">
          <div *ngIf="isFormSubmitted" class="text-2xl text-center font-semibold mt-10 mb-10">
            Your password has been changed!
          </div>
          <form
            *ngIf="!isFormSubmitted"
            class="form-v3 filledColor"
            [formGroup]="changePasswordForm"
            (ngSubmit)="submitChangePassword()"
          >
            <div class="inputBox">
              <div class="input-field normal">
                <label for="oldPassword">Old Password</label>
                <input
                  id="oldPassword"
                  type="password"
                  pPassword
                  required
                  formControlName="currentPassword"
                  [feedback]="false"
                />

                <small appControlValidationError controlName="currentPassword" class="p-invalid">
                </small>
              </div>
              <div class="input-field normal">
                <label for="newPassword">New Password</label>
                <input
                  id="newPassword"
                  type="password"
                  pPassword
                  required
                  appPasswordValidator
                  formControlName="newPassword"
                  [feedback]="false"
                />

                <small appControlValidationError controlName="newPassword" class="p-invalid">
                </small>
              </div>
              <div class="input-field normal">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  id="confirmPassword"
                  type="password"
                  pPassword
                  required
                  formControlName="confirmNewPassword"
                  [feedback]="false"
                />

                <small
                  appControlValidationError
                  controlName="confirmNewPassword"
                  [messages]="{ equalTo: 'Passwords do not match' }"
                  class="p-invalid"
                >
                </small>
                <div class="forgotPassword mTopSmall">
                  <label>Forgot your old password?</label>
                  <a routerLink="/authorize/password-reset" class="link">
                    <span>Reset Password</span>
                  </a>
                </div>
              </div>

              <div class="input-field full buttonWrap">
                <button
                  type="submit"
                  class="more wAuto"
                  [disabled]="changePasswordForm.invalid || isFormSubmitting"
                >
                  <span>Submit</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-side-box></app-side-box>
</div>
