<form class="form-v3 filledColor formBlock">
  <div class="formGroup">
    <div class="grpInfo">
      <div class="title">Preferences</div>
      <div class="textBox sm">
        <p>
          This sections requires you to select your learning preferences.
        </p>
      </div>
    </div>
    <div class="inputBox">
      <div class="input-field normal full">
        <label for="preferencesQ">Select your learning preferences</label>

        <div class="checkboxWrap col2">
          <label>
            <input name="group1" type="checkbox" />
            <span>Physical Workshops</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>One to One (Mentor)</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Books</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Videos</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>E-Books</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Class</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Group</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Audiobooks</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Articles</span>
          </label>

          <label>
            <input name="group1" type="checkbox" />
            <span>Online</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="formGroup">
    <div class="inputBox">
      <div class="input-field normal full buttonWrap">
        <button type="button" class="more wAuto gray">
          <span>Previous</span>
        </button>
        <button type="submit" class="more wAuto">
          <span>Next</span>
        </button>
      </div>
    </div>
  </div>
</form>
