::ng-deep .p-tabview-nav {
  border: 1px solid #dee2e6 !important;
  border-radius: 8px !important;
  padding-left: 20px !important;
}

::ng-deep .p-tabview-panels {
  padding: 1rem 0 !important;
}

.searchInput {
  width: 100%;
  padding: 12px 5px 12px 30px;
  border-radius: 7px;
}

.searchIcon {
  position: relative;
  top: 32px;
  left: 8px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 30px;
}
