<app-main-container>
  <div class="gridWrap">
    <ng-container>
      <div class="generalCard">
        <div class="inner">
          <div class="cardTitleWrap">
            <div class="cardTitle" i18n>Events</div>
            <div class="cardTools">
              <div class="searchBox">
                <form class="form-v3 filledColor">
                  <div class="input-field">
                    <input type="text" placeholder="Search" i18n-placeholder />
                    <button class="iconBox">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M21 20.9999L16.65 16.6499"
                          stroke="currentcolor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="gridWrap border">
            <div class="circleTabWrap">
              <a href="javascript:void(0)" (click)="toggleView('events')" class="cLink" [ngClass]="{'active': currentView === 'events'}">
                <span i18n>Events</span>
              </a>
              <a href="javascript:void(0)" (click)="toggleView('registration')" class="cLink" [ngClass]="{'active': currentView === 'registration'}">
                <span i18n>Registered Events</span>
              </a>
            </div>
            <div
              id="activeEvents"
              *ngIf="currentView === 'events'"
            >
              <ng-container *ngIf="eventListReady; else loading">
                <div *ngIf="test; else noEvents" [ngClass]="{ 'gridWrap': eventListReady }">
                  <div class="eventCard col2" *ngFor="let event of events">
                    <a class="inner" [routerLink]="event.id">
                      <div class="imgBox">
                        <img [src]="event.pictureUrl" alt="" width="442" height="242" loading="lazy" />
                      </div>

                      <div class="contentBox">
                        <div class="dateBox">
                          {{ event.fromDate | date: 'dd MMMM' }}
                          <ng-container *ngIf="event.toDate">
                            - {{ event.toDate | date: 'dd MMMM yyyy' }}
                          </ng-container>
                        </div>
                        <div class="title">
                          {{ event.name }}
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </ng-container>
              <ng-template #noEvents>
                <div class="flex justify-center w-full">
                  <div class="grid gap-6 w-14 textContainer">
                    <h1 class="text-3xl text-center text" i18n *ngIf="locale == 'en'">
                      Coming Soon
                    </h1>
                    <h1 class="text-3xl text-center text" i18n *ngIf="locale == 'ar'">
                      قريبا
                    </h1>
                  </div>
                </div>
              </ng-template>
            </div>

            <div id="registrationEvents" *ngIf="currentView === 'registration'">
              <ng-container *ngIf="eventRegistrationReady; else loading">
                <div class="grid gap-4" *ngIf="eventsRegistration && eventsRegistration.length > 0; else noRegistration">
                  <div class="knowledgeHubStatusCard" *ngFor="let item of eventsRegistration">
                    <div class="inner">
                      <div class="title">
                        {{ item.name }}
                      </div>
                      <div class="statusBox">
                        <span i18n>Status</span>
                        <!-- supporting class list : [colorDanger, colorSuccess, colorWarning, colorInfo] -->
                        <div class="statusPin normal normal" [ngClass]="getStatusClass(item.statusCode)">
                          <span>{{ getStatusLabel(item.statusCode) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noRegistration>
                  <div class="flex justify-center w-full">
                    <div class="grid gap-6 w-14 textContainer">
                      <h1 class="text-3xl text-center text" i18n>
                        No Registrations found
                      </h1>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</app-main-container>

<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>
