.searchInput {
  width: 100%;
  padding: 12px 5px 12px 30px;
}

.searchIcon {
  position: relative;
  top: 32px;
  left: 8px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 30px;
}

@media only screen and (max-width: 560px) {
  .card-cont {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.textContainer {
  display: flex;
  align-items: center;
  width: 180px;
  .text {
    text-align: start;
  }
}
