<form class="form-v3 filledColor formBlock" (ngSubmit)="completeEnrollment()">
  <div class="formGroup">
    <div class="grpInfo">
      <div class="title" i18n>Acknowledgment</div>
      <div class="textBox sm">
        <p i18n>
          This section requires you to confirm that all your entries are valid, accurate and
          updated. Once you click submit you will no longer be able to make any edits to your
          registration form (except the References section)
        </p>
        <p i18n>
          I hereby declare that the information provided in this form is true to the best of my
          knowledge and belief. And that i understand it is for use as selection criteria for the
          MBRCLD program
        </p>
      </div>
    </div>

    <div class="inputBox">
      <div class="input-field normal full">
        <div class="checkboxWrap sm">
          <label>
            <input
              name="group1"
              type="checkBox"
              [(ngModel)]="accepted"
              [ngModelOptions]="{ standalone: true }"
            />
            <span i18n>I agree to the MBRCLD terms</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="formGroup">
    <div class="inputBox">
      <div class="input-field normal full buttonWrap">
        <button type="button" class="more wAuto" routerLink="../upload-video">
          <span i18n>Previous</span>
        </button>
        <button
          type="submit"
          class="more wAuto"
          [disabled]="!accepted || isSubmitting"
          [ngClass]="{ colorGray: !accepted || isSubmitting }"
        >
          <span i18n>Finish</span>
        </button>
      </div>
    </div>
  </div>
</form>

<p-dialog
  header="Congratulations"
  i18n-header
  [visible]="successfullyEnrolled"
  [closable]="false"
  [resizable]="false"
  [responsive]="true"
  [draggable]="false"
  [modal]="true"
  [focusTrap]="true"
  [focusOnShow]="true"
  styleClass="w-full max-w-md"
>
  <div class="flex justify-center py-8">
    <span class="pi pi-check text-6xl text-green-600"></span>
  </div>

  <div class="text-xl text-center" dir="rtl">
    لقد قمتم باستكمال متطلبات المرحلة الأولى من مراحل التسجيل للبرنامج. يرجى العلم بأنه سيتم التواصل
    معكم في حال انتقالكم للمرحلة الثانية والتي تتضمن تقييم شامل وذلك للتأكد من استيفائكم كافة الشروط
    والأحكام الخاصة بالبرنامج.
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Go Back" i18n-label routerLink="../programs"></button>
  </ng-template>
</p-dialog>

<p-toast [preventOpenDuplicates]="true"></p-toast>
