<div class="mainContainer">
  <div class="gridWrap">
    <div class="generalCard">
      <div class="inner">
        <div class="cardTitle" i18n>Surveys</div>
        <div class="gridWrap border">
          <ng-container *ngIf="ready; else loading">
            <ng-container *ngIf="surveysData && surveysData.length > 0; else noSurveys">
              <div class="surveyCard col2" *ngFor="let survey of surveysData">
                <a [href]="survey.surveyURL" target="_blank" class="inner">
                  <div class="numBox">
                    <div class="count">--</div>
                    <div class="t" i18n>Questions</div>
                  </div>

                  <div class="contentBox">
                    <div class="title">{{ survey.name }}</div>
                    <div class="sub">{{ survey.surveyTemplateName }}</div>
                  </div>
                </a>
              </div>
            </ng-container>
            <ng-template #noSurveys>
              <div class="w-full text-center p-8">
                <p class="text-xl" i18n>No Surveys yet!</p>
              </div>
            </ng-template>
          </ng-container>
          <ng-template #loading>
            <div class="w-full h-40 flex items-center justify-center">
              <app-progress-spinner></app-progress-spinner>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <app-side-box></app-side-box>
</div>

<p-toast></p-toast>
