<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBRCLD - Reset your password</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
          integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg=" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
    <div id="app" class="container">
        <div class="section">
            <h1 class="title is-3">Reset your password</h1>
            <div class="columns">
                <div class="column is-4">
                    <form method="post" action="@Url.Action("ResetPassword", "Account")" v-on:submit.prevent="onSubmit">
                        <ul class="mb-3">
                            <li v-bind:class="{ 'has-text-success': has8Characters }">
                                <span v-show="has8Characters">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span v-show="!has8Characters">
                                    <i class="fas fa-times"></i>
                                </span>
                                8 Characters
                            </li>
                            <li v-bind:class="{ 'has-text-success': containsLowercase }">
                                <span v-show="containsLowercase">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span v-show="!containsLowercase">
                                    <i class="fas fa-times"></i>
                                </span>
                                Contains Lowercase
                            </li>
                            <li v-bind:class="{ 'has-text-success': containsUppercase }">
                                <span v-show="containsUppercase">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span v-show="!containsUppercase">
                                    <i class="fas fa-times"></i>
                                </span>
                                Contains Uppercase
                            </li>
                            <li v-bind:class="{ 'has-text-success': containsNumber }">
                                <span v-show="containsNumber">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span v-show="!containsNumber">
                                    <i class="fas fa-times"></i>
                                </span>
                                Contains Number
                            </li>
                        </ul>

                        <div class="field">
                            <label for="new-password" class="label">New Password</label>
                            <div class="control">
                                <input type="password" id="new-password" name="newPassword" class="input" required
                                       maxlength="32" v-model="newPassword" v-bind:class="{ 'is-danger': !passwordMeetsRequirements && !!newPassword }" />
                            </div>
                            <p v-show="!passwordMeetsRequirements && !!newPassword" class="help has-text-danger">
                                This password does not meet the requirements
                            </p>
                        </div>

                        <div class="field">
                            <label for="confirm-password" class="label">Confirm Password</label>
                            <div class="control">
                                <input type="password" id="confirm-password" name="confirmNewPassword" class="input" required
                                       maxlength="32" v-model="confirmNewPassword" v-bind:class="{ 'is-danger': !passwordsMatch && !!confirmNewPassword }" />
                            </div>
                            <p v-show="!passwordsMatch && !!confirmNewPassword" class="help has-text-danger">
                                Passwords do not match
                            </p>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link" v-bind:disabled="!isFormValid">Reset Password</button>
                            </div>
                        </div>

                        @Html.Hidden("email", ViewBag.Email, new { })
                        @Html.Hidden("token", ViewBag.Token, new { })

                        @Html.AntiForgeryToken()
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newPassword: '',
                confirmNewPassword: ''
            },
            methods: {
                onSubmit(event) {
                    if (!this.isFormValid) {
                        return
                    }

                    event.target.submit()
                }
            },
            computed: {
                has8Characters() {
                    return this.newPassword.length >= 8;
                },
                containsLowercase() {
                    return /[a-z]/.test(this.newPassword);
                },
                containsUppercase() {
                    return /[A-Z]/.test(this.newPassword);
                },
                containsNumber() {
                    return /[0-9]/.test(this.newPassword);
                },
                passwordsMatch() {
                    return this.newPassword === this.confirmNewPassword;
                },
                passwordMeetsRequirements() {
                    return this.has8Characters &&
                        this.containsLowercase &&
                        this.containsUppercase &&
                        this.containsNumber;
                },
                isFormValid() {
                    return this.passwordMeetsRequirements && this.passwordsMatch;
                }
            }
        })
    </script>
</body>
</html>
