<div class="form-v3 filledColor formBlock">
  <div class="formGroup">
    <div class="buttonGroup end">
      <a href="#formPop1" class="more wAuto sm" data-fancyboxModal>
        <span>Add Member</span>
      </a>
    </div>

    <div class="memberList">
      <div class="memberCard">
        <div class="inner">
          <div class="imgBox">
            <picture>
             
              <source srcset="./assets/images/avImg.jpg" type="image/jpeg" />
              <img src="./assets/images/avImg.jpg" alt="" width="200" height="200" loading="lazy" />
            </picture>
          </div>

          <div class="contentBox">
            <div class="name">James Johns</div>
            <div class="dec">Program Manager</div>

            <div class="textBox sm">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit lorem,
                fringilla ut ligula ac
              </p>
            </div>
            <div class="socialBox">
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M22 6L12 13L2 6"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 9H2V21H6V9Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="memberCard">
        <div class="inner">
          <div class="imgBox">
            <picture>
             
              <source srcset="./assets/images/avImg.jpg" type="image/jpeg" />
              <img src="./assets/images/avImg.jpg" alt="" width="200" height="200" loading="lazy" />
            </picture>
          </div>

          <div class="contentBox">
            <div class="name">William David</div>
            <div class="dec">
              Professor of Innovation and Technology
            </div>

            <div class="textBox sm">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit lorem,
                fringilla ut ligula ac
              </p>
            </div>
            <div class="socialBox">
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M22 6L12 13L2 6"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 9H2V21H6V9Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="memberCard">
        <div class="inner">
          <div class="imgBox">
            <picture>
             
              <source srcset="./assets/images/avImg.jpg" type="image/jpeg" />
              <img src="./assets/images/avImg.jpg" alt="" width="200" height="200" loading="lazy" />
            </picture>
          </div>

          <div class="contentBox">
            <div class="name">Mary Roberts</div>
            <div class="dec">CEO</div>

            <div class="textBox sm">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit lorem,
                fringilla ut ligula ac
              </p>
            </div>
            <div class="socialBox">
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M22 6L12 13L2 6"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
              <a href="#" class="link">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 9H2V21H6V9Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="popupBox mdBox" id="formPop1">
              <div class="inner">
                <div class="topBox">
                  <div class="title">Add Member</div>
                  <a href="#" class="plusBtn" data-fancybox-close>
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M18 6L6 18"
                        stroke="currentcolor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6 6L18 18"
                        stroke="currentcolor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
                <div class="formBox">
                  <form class="form-v3 filledColor">
                    <div class="inputBox">
                      <div class="input-field normal">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" />
                      </div>
                      <div class="input-field normal">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" />
                      </div>
                      <div class="input-field normal">
                        <label for="jobPosition">Job Position</label>
                        <input id="jobPosition" type="text" />
                      </div>
                      <div class="input-field normal">
                        <label for="education">Education</label>
                        <input id="education" type="text" />
                      </div>
                      <div class="input-field normal">
                        <label for="emailId">Email Id</label>
                        <input id="emailId" type="email" />
                      </div>
                      <div class="input-field normal">
                        <label for="linkedIn">LinkedIn Profile URL</label>
                        <input id="linkedIn" type="text" />
                      </div>
                      <div class="input-field normal">
                        <label for="residenceCountry">Residence country</label>
                        <select data-select>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                      <div class="input-field normal">
                        <label for="nationality">nationality</label>
                        <select data-select>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                      <div class="input-field normal full">
                        <label for="addImage">Add Image</label>
                        <input id="addImage" type="file" />
                        <div class="iconBox">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M21.4403 11.05L12.2503 20.24C11.1244 21.3658 9.59747 21.9983 8.00529 21.9983C6.41311 21.9983 4.88613 21.3658 3.76029 20.24C2.63445 19.1142 2.00195 17.5872 2.00195 15.995C2.00195 14.4028 2.63445 12.8758 3.76029 11.75L12.9503 2.56C13.7009 1.80944 14.7188 1.38778 15.7803 1.38778C16.8417 1.38778 17.8597 1.80944 18.6103 2.56C19.3609 3.31057 19.7825 4.32855 19.7825 5.39C19.7825 6.45146 19.3609 7.46944 18.6103 8.22L9.41029 17.41C9.03501 17.7853 8.52602 17.9961 7.99529 17.9961C7.46456 17.9961 6.95557 17.7853 6.58029 17.41C6.20501 17.0347 5.99418 16.5257 5.99418 15.995C5.99418 15.4643 6.20501 14.9553 6.58029 14.58L15.0703 6.1"
                              stroke="currentcolor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="input-field normal full">
                        <label for="aboutMember">About Member</label>
                        <textarea
                          class="materialize-textarea"
                          id="aboutMember"
                        ></textarea>
                      </div>
                      <div class="input-field normal full buttonWrap">
                        <button type="submit" class="more wAuto">
                          <span>Save</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
